bin_js/Abstract.js
bin_js/index.js
bin_js/index.js.map
bin_js/src/Abstract.js
bin_js/src/Abstract.js.map
bin_js/src/Board.js
bin_js/src/Board.js.map
bin_js/src/Columns1.js
bin_js/src/Columns1.js.map
bin_js/src/DiceRoller.js
bin_js/src/DiceRoller.js.map
bin_js/src/GameManager.js
bin_js/src/GameManager.js.map
bin_js/src/Player.js
bin_js/src/Player.js.map
bin_js/src/Rows1.js
bin_js/src/Rows1.js.map
bin_js/src/common/CommonColumns.js
bin_js/src/common/CommonColumns.js.map
bin_js/src/common/CommonGroups.js
bin_js/src/common/CommonGroups.js.map
bin_js/src/common/CommonRows.js
bin_js/src/common/CommonRows.js.map
bin_js/src/communication/AICommunication.js
bin_js/src/communication/AICommunication.js.map
bin_js/src/communication/Communication.js
bin_js/src/communication/Communication.js.map
bin_js/src/communication/CompositeCommunication.js
bin_js/src/communication/CompositeCommunication.js.map
bin_js/src/communication/ConsoleCommunication.js
bin_js/src/communication/ConsoleCommunication.js.map
bin_js/src/communication/SaveHistoryCommunication.js
bin_js/src/communication/SaveHistoryCommunication.js.map
bin_js/src/communication/StringCommunication.js
bin_js/src/communication/StringCommunication.js.map
bin_js/src/modes/Columns1.js
bin_js/src/modes/Columns1.js.map
bin_js/src/modes/Rows1.js
bin_js/src/modes/Rows1.js.map
bin_js/src/modes/common/CommonColumns.js
bin_js/src/modes/common/CommonColumns.js.map
bin_js/src/modes/common/CommonGroups.js
bin_js/src/modes/common/CommonGroups.js.map
bin_js/src/modes/common/CommonRows.js
bin_js/src/modes/common/CommonRows.js.map
bin_js/src/players/AI.js
bin_js/src/players/AI.js.map
bin_js/src/players/ConsolePlayer.js
bin_js/src/players/ConsolePlayer.js.map
bin_js/src/players/Player.js
bin_js/src/players/Player.js.map
bin_js/src/players/RandomAI.js
bin_js/src/players/RandomAI.js.map
bin_js/src/rows_and_columns/Abstract.js
bin_js/src/rows_and_columns/Abstract.js.map
bin_js/src/rows_and_columns/Columns1.js
bin_js/src/rows_and_columns/Columns1.js.map
bin_js/src/rows_and_columns/Rows1.js
bin_js/src/rows_and_columns/Rows1.js.map
bin_js/src/rows_and_columns/common/CommonColumns.js
bin_js/src/rows_and_columns/common/CommonColumns.js.map
bin_js/src/rows_and_columns/common/CommonGroups.js
bin_js/src/rows_and_columns/common/CommonGroups.js.map
bin_js/src/rows_and_columns/common/CommonRows.js
bin_js/src/rows_and_columns/common/CommonRows.js.map
bin_js/src/teams/Team.js
bin_js/src/teams/Team.js.map
bin_js/src/teams/TeamOfN.js
bin_js/src/teams/TeamOfN.js.map
Backend developer zadatak - Jamb.docx
Backend developer zadatak - Jamb.md
example_enc.txt
example.txt
gMj9HBVadqeEibNPCWrIZwf0QaIt9gkFZSQbU52F.jpeg
moves.json
old_abstract.txt
old_manager.ts.txt
output.txt
plan.kt
plan.txt
run.ps1
